.card {
  font-family: "Poppins";
  display: flex;
  background: #ffffff;
  border: 0.8325px solid #d9dcec;
  border-radius: 8.325px;
  width: 500px;
  padding: 10px;
  height: 200px;
  margin: 25px 5px;
}

.card:hover{
  border:1px solid #0bf026
}

#product {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-family:"Poppins"
}

.product.id{
  font-family:"Poppins"
}

.card img {
  background-size: cover;
  width: 80%;
  border-radius: 12px;
}

.card h2 {
  padding-bottom: 2rem;
}
.card-left {
  flex: 1;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-right {
  flex: 1;
}

.card-right p {
  max-height: 40px;
  width: 200px;
  text-overflow: ellipsis;
  font-family: cursive;
  line-height: 20px;
  overflow: hidden;
}

@media (max-width: 1389px) {
  .card {
    width: 330px;
  }
  .card img {
    width: 80%;
  }
}

@media (max-width: 863px) {
  .card {
    width: 90%;
  }

  .card img {
    width: 100%;
  }

  .card-right {
    padding-left: 10px;
  }
}
