.c-card input,
textarea {
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  border-radius: 6px;
}

.c-card input {
  padding: 20px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  position: relative;
  font-family: "Poppins";
}

.c-btn {
  cursor: pointer;
}

.c-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 8px 28px rgba(83, 83, 83, 0.15);
  border-radius: 15px;
  width: fit-content;
}

.c-card h1 {
  width: 300px;
  margin: auto;
  padding: auto;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.c-card p {
  width: 70%;
  text-align: center;
}
.form-btn {
  background: #037b35;
  border-radius: 30px;
  border: none;
  padding: 10px 0;
  color: white;
  margin-top: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 3rem;
}
.c-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs {
  outline:none;
}

.texts {
  display: flex;
  gap: 4rem;
  margin-bottom: 1rem;
}

textarea {
  padding: 10px;
  outline:none
}

.contact1,
.contact2 {
  position: absolute;
  z-index: 1;
}

.contact1 {
  top: 30%;
  left:22%;
}

.contact2 {
  top: 65%;
  left: 65%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-btn:hover {
  background-color: #fff;
  color: #037b35;
  border: 1px solid #037b35;
}

#contact{
  border: 1px solid rgb(253, 20, 20);
}

#text{
  border: 1px solid rgb(253, 20, 20);
}

.invalid{
  border:1px solid red;
}
